@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-white : #ffffff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255,255,255,0);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
  --primary-light-grey:  #f4f4f4;
  --primary-dark-hard: rgb(52, 58, 60);;
}

body {
  
}


/******************** NAVBAR **********************/

.logo {
  width: 4.25rem;
}

.navbar {
  background-color: #0f0e13;
  font-family: 'Roboto Condensed', sans-serif;
}

/*------- Menu Links -------*/

nav a.nav-link {
  /* font-weight: 500; */
  letter-spacing: 0.0375rem; /* Linkler arası boşluk ml-mr falan koymayana gerek yok */
  cursor: pointer; /* İmleci üstüne getirdiğinde pointer işaretçi simgesi gözükür */
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  color: var(--primary-white) !important ;
  font-size: 0.8rem; 
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand {
  /* max-width: 5.25rem; */   /* kutunun alacağı max değer width:genişlik */
  /* padding: 0  !important; */   /* tavana yapıştırıyor */
  /* height: 6rem !important; */   /* navbarın yüksekliğini ayarlıyor */
}

@media(max-width:768px) {
  .navbar-brand {
    width: 7rem;
  }
}

.navbar-nav > li > a.active , .navbar-nav > li > a.active:focus {
  border-top : 0.1875rem solid var(--primary-orange); 
}

.navbar-nav > li > a:hover {
  border-top : 0.1875rem solid var(--primary-orange); /* Fare ile üstüne geldiğinde kafasında çıkan çizgi */
}



/******************** HEADER **********************/


.header-wrapper { /* fotoğrafı arka plana yerleştirmek için */
  position: relative;
  background: url(BackGround.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh; /* fotoğrafın yükseklik olarak kapladığı alan */
}

.main-info { /* İçindeki yazı ve elemetleri orataya sabitlemek için */
  display: flex;

  position: absolute; /* Bu kısım tüm div i ekranın ortasına ortalar */
  top: 0; /* Ekranın hepsini div olarak düşün bir sürü boşluk var ; */
  left: 0; /* bu "0" eklemelerimiz boşlukları atıyor hepsini tam ortaya koymamızı sağlıyor */
  right: 0;
  bottom: 0;
  flex-direction: column; /* Sırayla hepsini aşağı atar ul li mantığı gibi */
  justify-content: center; /* Dikeyde ekranın ortasına ortalar */
  align-items: center; /* Yatayda elemntleri ortalar */
  text-align: center; /* Yatayda yazıları ortalar */
  font-family: 'Roboto Condensed', sans-serif;
  z-index: 1;
}

.main-info h1 {
  color: var(--primary-orange);
  text-transform: uppercase;
}

@media(max-width:768px) { /* Telefon ekranlarındaki responsive yapı için */
  .main-info h1 {
    font-size: 1.7rem !important;
  }
}

/******************** TYPED TEXT **********************/

.typed-text {
  font-size: 2rem;
  color: var(--primary-white);
}

@media(max-width:768px) { /* Telefon ekranlarındaki responsive yapı için */
  .typed-text {
    font-size: 1.3rem !important;
  }
}

/******************** HEADER MAİN OFFER **********************/

.btn-main-offer {
  border : 1px solid var(--primary-red); /*  */
  text-transform: uppercase;
  border-radius: 20%;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin-top: 2rem; /* mt-2 etkisi gibi düşün */
}

.btn-main-offer:hover {
  text-decoration: none; /* altçizgisini kaldırır */
  background-color: var(--primary-hover-red); /* üzerine geldiğinde arka plan değişimi */
  color: var(--primary-white); /* button text rengi */
  transition:  .2s ease-in-out; /* geçikmeli gelmesini sağlar */
}


/******************** Particles **********************/

/* .tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
} */


/******************** ABOUT ME **********************/

.aboutMeContainer {
  font-family: 'Roboto Condensed', sans-serif;
}

.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  width: 16rem;
  border-radius: 50%;
  padding: .3rem;
  border: 1px solid var(--primary-orange);
}

.aboutMe-heading {
  color: var(--primary-orange);
  text-transform: uppercase;
}

@media(max-width:468) { /* Telefon ekranlarındaki responsive yapı için */
  .profile-img {
    width: 10rem;
  }
}


/******************** SERVİCES **********************/

.services {
  text-align: center;
  padding-bottom: 2rem;
  background: var(--primary-light-grey);
}

.services h1 {
  color: rgb(52, 58, 60);
  text-transform: uppercase;
}

.services .circle { /* yuvarlak sarı alan için oluşturduk ortaladık */
  position: relative;
  margin: 0.0375rem auto;
  background: var(--primary-orange);
  border-radius: 50%;
  width: 3.125rem;
  height: 3.125rem;
} 

.services .icon {
  font-size: 1.4rem;
  color: var(--primary-white);
  
  position: absolute; /* iconları alan içersine ortalamak için yaptık */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.services .box { /* kutu oluşturduk */
  height: 16rem;
  border-bottom: 0.3125rem solid var(--primary-orange);
  padding: 0.625rem;
  margin-bottom: 1.825rem;
  background: var(--primary-white);
}

.services .box:hover {
  background: var(--primary-orange) ;
  border-bottom: 00.3125rem solid var(--primary-dark-hard);
}

.services .box:hover .icon {
  color: var(--primary-dark-hard);
}

.services .box:hover .circle {
  background: var(--primary-white);
}

.services .box:hover p {
  color: var(--primary-white);
}


